@model S_Buck_HW_4.Models.StockDetails

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>StockDetails</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marketcap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marketcap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Beta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Beta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Week52high)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Week52high)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Week52low)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Week52low)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Week52change)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Week52change)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShortInterest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShortInterest)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShortDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShortDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DividendRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DividendRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DividendYield)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DividendYield)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExDividendDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExDividendDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LatestEPS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LatestEPS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LatestEPSDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LatestEPSDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SharesOutstanding)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SharesOutstanding)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Float)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Float)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnOnEquity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReturnOnEquity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConsensusEPS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConsensusEPS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfEstimates)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfEstimates)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Symbol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Symbol)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EBITDA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EBITDA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Revenue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Revenue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GrossProfit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GrossProfit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cash)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cash)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Debt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Debt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TtmEPS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TtmEPS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RevenuePerShare)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RevenuePerShare)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RevenuePerEmployee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RevenuePerEmployee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PeRatioHigh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PeRatioHigh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PeRatioLow)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PeRatioLow)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EPSSurprisePercent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EPSSurprisePercent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnOnAssets)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReturnOnAssets)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfitMargin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProfitMargin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriceToSales)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriceToSales)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriceToBook)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriceToBook)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Day200MovingAvg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Day200MovingAvg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Day50MovingAvg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Day50MovingAvg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstitutionPercent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstitutionPercent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShortRatio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShortRatio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year5ChangePercent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year5ChangePercent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year2ChangePercent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year2ChangePercent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year1ChangePercent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year1ChangePercent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YtdChangePercent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YtdChangePercent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Month6ChangePercent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Month6ChangePercent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Month3ChangePercent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Month3ChangePercent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Month1ChangePercent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Month1ChangePercent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Day5ChangePercent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Day5ChangePercent)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
