@model S_Buck_HW_4.Models.SymbolDetailViewModel

@{
    ViewData["Title"] = Html.DisplayTextFor(model => model.Details.Symbol);
}

<h1>@Html.DisplayFor(model => model.Details.Symbol) - @Html.DisplayFor(model => model.Details.CompanyName)</h1>

<div>
<h4>@Html.DisplayFor(model => model.Quote.LatestPrice)</h4>
    <div>
        <a asp-controller="Symbols" asp-action="AddFavorite" asp-route-symbol="@Model.Details.Symbol">Add @Html.DisplayFor(model => model.Details.Symbol) to Favorites</a>
    </div>
    <div>
        <a asp-controller="Symbols" asp-action="Buy" asp-route-symbol="@Model.Details.Symbol">Buy Shares of @Html.DisplayFor(model => model.Details.Symbol)</a>
    </div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Details.MarketCap)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Details.MarketCap)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Details.Beta)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Details.Beta)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Details.Week52high)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Details.Week52high)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Details.Week52low)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Details.Week52low)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Details.Week52change)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Details.Week52change)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Details.ShortInterest)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Details.ShortInterest)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Details.ShortDate)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Details.ShortDate)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Details.DividendRate)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Details.DividendRate)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Details.DividendYield)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Details.DividendYield)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Details.ExDividendDate)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Details.ExDividendDate)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Details.LatestEPS)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Details.LatestEPS)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Details.LatestEPSDate)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Details.LatestEPSDate)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Details.SharesOutstanding)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Details.SharesOutstanding)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Details.Float)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Details.Float)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Details.ReturnOnEquity)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Details.ReturnOnEquity)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Details.ConsensusEPS)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Details.ConsensusEPS)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Details.NumberOfEstimates)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Details.NumberOfEstimates)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Details.EBITDA)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Details.EBITDA)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Details.Revenue)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Details.Revenue)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Details.GrossProfit)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Details.GrossProfit)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Details.Cash)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Details.Cash)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Details.Debt)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Details.Debt)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Details.TtmEPS)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Details.TtmEPS)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Details.RevenuePerShare)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Details.RevenuePerShare)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Details.RevenuePerEmployee)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Details.RevenuePerEmployee)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Details.PeRatioHigh)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Details.PeRatioHigh)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Details.PeRatioLow)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Details.PeRatioLow)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Details.EPSSurprisePercent)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Details.EPSSurprisePercent)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Details.ReturnOnAssets)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Details.ReturnOnAssets)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Details.ProfitMargin)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Details.ProfitMargin)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Details.PriceToSales)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Details.PriceToSales)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Details.PriceToBook)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Details.PriceToBook)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Details.Day200MovingAvg)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Details.Day200MovingAvg)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Details.Day50MovingAvg)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Details.Day50MovingAvg)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Details.InstitutionPercent)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Details.InstitutionPercent)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Details.ShortRatio)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Details.ShortRatio)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Details.Year5ChangePercent)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Details.Year5ChangePercent)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Details.Year2ChangePercent)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Details.Year2ChangePercent)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Details.Year1ChangePercent)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Details.Year1ChangePercent)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Details.YtdChangePercent)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Details.YtdChangePercent)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Details.Month6ChangePercent)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Details.Month6ChangePercent)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Details.Month3ChangePercent)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Details.Month3ChangePercent)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Details.Month1ChangePercent)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Details.Month1ChangePercent)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Details.Day5ChangePercent)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Details.Day5ChangePercent)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

