@model IEnumerable<S_Buck_HW_4.Models.Database.StockCompany>

@{
    ViewData["Title"] = "Symbols";
}

<div>
    @foreach (char letter in "ABCDEFGHIJKLMNOPQRSTUVWXYZ")
    {
        if (letter.ToString() == ViewBag.BeginsWith)
        {
            <span style="font-weight:bold">@letter</span>
        }
        else
        {
            <span>@Html.ActionLink(letter.ToString(), "Index", new { beginsWith = letter })</span>
        }
    }
</div>
<table class="table">
    <thead>
        <tr>
            <th style="white-space: nowrap">
                @Html.DisplayNameFor(model => model.Symbol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.OrderBy(s => s.Symbol)) {
        <tr>
            <td style="white-space: nowrap">
                @Html.DisplayFor(modelItem => item.Symbol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td style="white-space: nowrap">
                @Html.ActionLink("Details", "Details", new { symbol = item.Symbol })
                |
                @Html.ActionLink("Favorite", "AddFavorite", new { symbol = item.Symbol })
                |
                @Html.ActionLink("Buy", "Buy", new { symbol = item.Symbol })
            </td>
        </tr>
}
    </tbody>
</table>

<div>
    @foreach (char letter in "ABCDEFGHIJKLMNOPQRSTUVWXYZ")
    {
        if (letter.ToString() == ViewBag.BeginsWith)
        {
            <span style="font-weight:bold">@letter</span>
        }
        else
        {
            <span>@Html.ActionLink(letter.ToString(), "Index", new { beginsWith = letter })</span>
        }
    }
</div>